<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row p-2">
    <div class="col-8">
      <h2>Products</h2>
      <table class="table table-striped cart-list">
        <thead>
        <tr>
          <th>
            Item
          </th>
          <th>
            Price
          </th>
          <th>
            Order
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items; index as i">
          <td class="d-md-flex align-items-center">
            <figure><img alt="thumb" class="lazy" data-src="img/menu-thumb-5.jpg" src="{{item.urls[0]}}"
                         style="max-height: 3rem; margin-right: 1rem;"></figure>
            <div class="flex-md-column">
              <h4>{{item.name}}</h4>
              <p>
                {{item.description}}
              </p>
            </div>
          </td>
          <td>
            <strong>{{item.price}}</strong>
          </td>
          <td class="options">
            <a (click)="add(item.itemId)" class="btn btn-success text-light">Add</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <div class="card" style="width: 100%;">
        <div class="card-header bg-primary text-light">
          Shopping cart
        </div>
        <div class="card-body">
          <h5 class="card-title">Shopping cart</h5>
          <p class="card-text">This is an example of a Stateful Session bean, the cart state is maintained in the
            server.</p>
          <div *ngFor="let shoppingcart of shoppingcart">
            <ul class="clearfix list-group">
              <li *ngFor="let item of shoppingcart.products; index as i" class="list-group-item"><a
                href="#0">{{item.name}}</a><span style="float: right;">{{item.price}}</span></li>
            </ul>

            <ul class="list-group mt-2 mb-2">
              <li class="list-group-item active">Total<span style="float: right">{{shoppingcart.total}}</span></li>
            </ul>
          </div>

          <a class="btn btn-success mr-2" href="#">Checkout</a>
          <a (click)="delete()" class="btn btn-danger text-light" style="float: right">Clear</a>

        </div>
      </div>
    </div>
  </div>
</div>

