<app-navbar></app-navbar>
<div class="container">
  <div class="card mt-4">
    <img alt="Card image cap" class="card-img-top" src="/assets/jakarta.svg" style="height: 15rem">
    <div class="card-body">
      <h5 class="card-title">Welcome To Our Demo Application!</h5>
      <p class="card-text">In this demo we will use various Jakarta EE features and consume them through an Angluar
        front-end.</p>
      <p class="font-weight-bold">Please select a demo below.</p>
    </div>
  </div>
  <ul class="list-group mt-4">
    <li class="list-group-item list-group-item-action" routerLink="/customer">Customer | REST Webservice</li>
    <li class="list-group-item list-group-item-action" routerLink="/shop">Shop | Statefull Session Bean, Servlets, MDB
    </li>
    <li class="list-group-item list-group-item-action" routerLink="/login">Orders | Authentication, Protected Routes
    </li>
  </ul>

  <div class="card mt-4">
    <div class="card-body">
      <h6 class="card-title">Spreuk Van De Dag Via SOAP:</h6>
      <p class="card-text font-italic">"The greatest glory in living lies not in never falling, but in rising every time
        we fall"</p>
    </div>
  </div>
</div>
