<app-navbar></app-navbar>
<div class="container">
  <div class="card mt-4">
    <img alt="Card image cap" class="card-img-top" src="/assets/jakarta.svg" style="height: 15rem">
    <div class="card-body">
      <h5 class="card-title">Welcome To Our Demo Application</h5>
      <p class="card-text">In this demo we will use various Jakarta EE features and consume them through an Angluar
        front-end.</p>
      <p class="font-weight-bold">Please select a demo below.</p>
    </div>
  </div>
  <ul class="list-group mt-4">
    <li class="list-group-item list-group-item-action" routerLink="/customer">Customer | RX.JS</li>
    <li class="list-group-item list-group-item-action" routerLink="/order">Order | Statefull Session bean, Servlet</li>
    <li class="list-group-item list-group-item-action" routerLink="/shop">Shop | SOAP</li>
  </ul>
</div>
